# ROS2
build
install
log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/

# Node
node_modules/
yarn.lock
package-lock.json
.yarn/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db